.App{
  width: 60vw;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width : 1500px) {
  .App{
    width: 70vw;
  }
}
@media (max-width : 1200px) {
  .App{
    width: 80vw;
  }
}
@media (max-width : 1000px) {
  .App{
    width: 100vw;
    flex-direction: column;
    border-radius: 0px;
  }
}